<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter.png", :alt => "Twitter", :class => 'icons' %>
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook.png", :alt => "Facebook", :class => 'icons' %>
</a>
<a href="/auth/google_oauth2" class="auth_provider">
  <%= image_tag "google_oauth2.png", :alt => "Google", :class => 'icons' %>
</a>
<style type="text/css">
/*.span2{
	width: 30px;
	height: 15px;
	padding-top: 5px;
	margin: 0 10px !important;
	border-right: 1px solid #ddd;
}*/
</style>
<!-- <button class='btn btn-large btn-info btn-block'>
	<i class='icon-twitter span2 pull-left'></i> <div class='pull-left'>Sign Up with Twitter</div>
</button>
<button class='btn btn-large btn-primary btn-block'>
	<i class='icon-facebook span2 pull-left'></i> <div class='pull-left'>Sign Up with Facebook</div>
</button>
<button class='btn btn-large btn-danger btn-block'>
	<i class='icon-google-plus span2 pull-left'></i> <div class='pull-left'>Sign Up with Google</div>
</button> -->