        </div>
      </div>
    </div><!--/row-->

  </div> <!-- /container -->
<div class="footer">
  <div class="container">
    <p class="muted credit">designed and developed by @<a href="//www.twitter.com/hudadiaz">hudadiaz</a> | Contact | About</p>
  </div>
</div>